body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centerRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.centerColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navBar {
  height: 15vh;
  line-height: calc(1.5rem + 0.5vw);
}

.titleText {
  font-size: calc(2rem + 0.2vw);
  letter-spacing: calc((2rem + 0.2vw) * 0.02);
  margin: 0;
}

.navText {
  font-size: calc(1rem + 0.1vw);
  letter-spacing: calc((1rem + 0.1vw) * 0.01);
  margin: 0;
}

.mapContainer {
    height: 85vh;
    width: 100vw;
    overflow: hidden;
}

img {
    transform: scale(0.5) translateX(-1024px) translateY(-1024px);
}
