html {
  background-color: #424242;
  color: #E1BEE7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centerRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.centerColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navBar {
  height: 15vh;
  width: 100%;
  line-height: calc(1.5em + 1vmin);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 92%, rgba(224,224,224,1) 100%)
}

.titleText {
  font-size: calc(1.5em + 1vmin);
  letter-spacing: calc((1.5rem + 1vmin) * 0.01);
  font-weight: normal;
  margin: 0;
}

.navText {
  font-size: calc(0.5em + 1vmin);
  letter-spacing: calc((0.5rem + 1vmin) * 0.01);
  font-weight: normal;
  margin: 0 calc((0.75rem + 1vmin) * 0.2) 0;
  background: none;
  border: none;
  outline: none;
  color: #E1BEE7;
  cursor: pointer;
}

.navTextZoom {
  padding: calc((0.5rem + 1vmin) * 0.2) 0;
}

.navTextBar {
  padding: 0 0 calc((0.5rem + 1vmin) * 0.2) 0;
  border-bottom: calc((0.5rem + 1vmin) * 0.2) solid #E1BEE7;
  border-radius: 20%;
}

.navTextBar:focus {
  border-bottom: calc((0.5rem + 1vmin) * 0.2) solid #BBDEFB;
}

.navTextBar:focus, .navText:focus {
  color: #BBDEFB;
}

.navTextBar:active, .navTextBar:hover, .navText:active, .navText:hover {
  color: #F8FDCF;
}

.navTextBar:active, .navTextBar:hover, .selectedButton {
  border-bottom: calc((0.5rem + 1vmin) * 0.2) solid #F8FDCF;
}

.mapContainer {
  height: 85vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: #E0E0E0;
}

.zoomButtons {
  background-color: #424242;
  border-radius: 6px;
  position: absolute;
  top: 10%;
  left: 10%;
}

#zoomSvg {
  position: absolute;
  top: 50%;
  left: 50%;
}

.zoomCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

img {
  transform-origin: top left;
}

.markEmpty {
  fill: rgb(255,255,255);
  stroke: rgb(97,97,97);
  stroke-width: 3;
  opacity: 0;
}
.markNotSpawn {
  fill: rgb(240,98,146);
  stroke: rgb(97,97,97);
  stroke-width: 3;
  opacity: 1;
}
.markSpawn {
  fill: rgb(129,199,132);
  stroke: rgb(97,97,97);
  stroke-width: 3;
  opacity: 1;
}
