body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centerRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.centerColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navBar {
  height: 15vh;
  line-height: calc(1.5em + 1vmin);
}

.titleText {
  font-size: calc(1 .5em + 1vmin);
  letter-spacing: calc((1.5rem + 1vmin) * 0.01);
  font-weight: normal;
  margin: 0;
}

.navText {
  font-size: calc(0.5em + 1vmin);
  letter-spacing: calc((0.5rem + 1vmin) * 0.01);
  margin: 0;
  padding: 0 calc((0.75rem + 1vmin) * 0.2) 0;
  background: none;
  border: none;
  outline: none;
}

.mapContainer {
    height: 85vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.zoomButtons {
  position: absolute;
  top: 10%;
  left: 10%;
}

.zoomSvg {
  position: absolute;
  top: 0;
  left: 0;
}

.zoomCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

img {
    transform-origin: top left;
}
