body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centerRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.centerColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#topName {
  height: 10vh;
}

.navBar {
  height: 15vh;
  font-size: 2vh;
}

.mapContainer {
    height: 85vh;
}

img {
    max-width: 100%;
    max-height: 100%;
}
