body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centerRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.centerColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navBar {
  height: 15vh;
  line-height: calc(1.5rem + 0.5vw);
  line-height: calc(1.5vw + 1.5vh + .5vmin);
}

.titleText {
  font-size: calc(2vw + 2vh + .5vmin);
  letter-spacing: calc((2vw + 2vh + .5vmin) * .01);
  margin: 0;
}

.navText {
  font-size: calc(1vw + 1vh + .5vmin);
  letter-spacing: calc((1vw + 1vh + .5vmin) * .01);
  margin: 0;
}

.mapContainer {
    height: 85vh;
    width: 100vw;
    overflow: hidden;
}

img {
    transform-origin: top left;
}
